<sly data-sly-use.model="biz.netcentric.nclabs.groovyconsole.model.Editor">
    <div id="resizable" class="resizable-container">

        <script>
            const scriptPath = "${model.scriptPath @ context='scriptString'}";
            if (scriptPath) {
                Lockr.set('scriptPath', scriptPath);
            }
        </script>

        <!--/* ACE based editor panel */-->
        <div id="editor">

        </div>
    </div>
    <div id="infoarea">
        <!--/* editor.js should add alert panel depending on the result */-->
    </div>
</sly>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories=['nclabs.groovyconsole.editor']}"/>