<sly data-sly-use.entity="net.thartm.aem.asconsole.models.Entity">
    <coral-card
            class="foundation-collection-navigator coral-Card"
            data-foundation-collection-navigator-href="/apps/aemscriptconsole/content/formeditor/content.html${entity.path}.html">
        <coral-card-asset class="coral-Card-asset" style="">
        </coral-card-asset>
        <div class="coral-Card-wrapper">
            <coral-card-content class="coral-Card-content">
                <coral-card-context class="coral-Card-context">${entity.title}</coral-card-context>
                <coral-card-title class="foundation-collection-item-title coral-Card-title">${entity.name}</coral-card-title>
            </coral-card-content>
        </div>
    </coral-card>
    <coral-quickactions target="_prev" alignMy="left top" alignAt="left top">
        <coral-quickactions-item icon="gearsEdit" class="foundation-anchor" data-foundation-anchor-href="/apps/aemscriptconsole/content/yetanothereditor.html${entity.path}">Script</coral-quickactions-item>
        <coral-quickactions-item icon="form" class="foundation-anchor" data-foundation-anchor-href="/apps/aemscriptconsole/content/formeditor.html${entity.path}.html">Form</coral-quickactions-item>
    </coral-quickactions>
</sly>