<sly data-sly-use.editor="net.thartm.aem.asconsole.models.FormEditor">
<div class="formbuilder-wrapper">
    <div id="form-builder-properties">
        <div id="preview-rail">
            <a href="#"
               class="coral-Icon coral-Icon--viewOn coral-Icon--sizeM preview-search-panel"
               data-preview-path=""
               data-preview-repo-path=""
               data-foundation-content-history="push"
               data-foundation-content-control-action="push"></a>
        </div>
        <div id="tabs-navigation" class="coral-TabPanel" data-init="tabs">
            <nav class="coral-TabPanel-navigation" role="tablist">
                <a id="tab-add" href="#tab-add" data-toggle="tab" class="coral-TabPanel-tab is-active">Select Predicate</a>
                <a id="tab-edit" href="#tab-edit" class="coral-TabPanel-tab" data-toggle="tab">Settings</a>
            </nav>
            <div class="coral-TabPanel-content">
                <section class="types active coral-TabPanel-pane is-active">

                </section>
                <section class="settings coral-TabPanel-pane">
                    <div class="placeholder"><i>Select a field to edit</i></div>

                </section>
            </div>
        </div>
    </div>
    ${editor.formPath}
    <sly data-sly-include="formview.html"/>

</div>
</sly>