<sly data-sly-use.editor="net.thartm.aem.asconsole.models.FormBuilder">

    <div class="dragvert-container fe-dragvert-source">
        <div class="drag-form-element coral--dark" data-form-element-type="textfield"
             data-form-field-id="txt-generic"
             data-form-field-value=""
             data-form-field-validation=""
             data-form-field-mandatory="false"
             coral-dragaction
             coral-dragaction-handle="#handle"
             coral-dragaction-axis="horizontal">
            <b>handle</b> Textfield
        </div>
    </div>

    <div class="dragvert-container fe-dragvert-target" data-container-ops-counter="0"></div>

        <!--<div class="dragvert-container fe-dragvert-source">
        <div class="dragvert-element coral--dark" data-form-element-type="textfield"
             data-form-field-id="txt-generic"
             data-form-field-value=""
             data-form-field-validation=""
             data-form-field-mandatory="false">
            textfield
        </div>
        <div class="dragvert-element coral--dark" data-form-element-type="checkbox">
            Checkbox
        </div>
        <div class="dragvert-element coral--dark" data-form-element-type="select">
            Selectfield
        </div>
        <div class="dragvert-element coral--dark" data-form-element-type="number">
            Numberfield
        </div>
    </div>


    <div class="dragvert-container fe-dragvert-target" data-container-ops-counter="0"></div>

    <div class="properties-container">
        <form class="coral-Form coral-Form--vertical" style="width: 500px;">
            <section class="coral-Form-fieldset">
                <h3 class="coral-Form-fieldset-legend">Properties</h3>

                <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Field Name</label>
                    <input class="coral-Form-field coral-Textfield" type="text" placeholder="Required" aria-required="true">
                    <span class="coral-Form-fieldinfo coral-Icon coral-Icon--infoCircle coral-Icon--sizeS" data-init="quicktip"
                          data-quicktip-type="info" data-quicktip-arrow="right"></span>
                </div>
            </section>
        </form>
    </div>-->
</sly>