.panel {

}

.editorarea{
    padding: 0px;
    border:1px solid darkgrey;
}

#resizable { width: 500px; height: 500px; padding: 5px; border: 2px solid grey}
#resizable h3 { text-align: center; margin: 0; }
#resizable{position: relative}
/*#editor{position: absolute; top:0;left:0;right:0;bottom:0;}*/

#editor {
    /** Setting height is also important, otherwise editor wont showup**/
    /**height: 300px;*/
    position: absolute; top:0;left:0;right:0;bottom:0;
}