.form-properties {
    input[type=text],
    textarea {
        width: 100%;
    }
}

#form-builder-view {
    input[type=text] {
        max-width: 40rem;
        border: 1px solid #b9b9b9;
    }
}

.template-title {
  > i:before {
    color: #ffffff;
    opacity: 1;
  }
  > i {
    vertical-align: middle;
    height: 2.0rem ;
    background: #c0c0c0;
    font-size: 1.5rem;
    padding: 0.625rem 0.625rem 0.375rem 0.625rem;
  }
  > span {
    margin-left: 1rem;
  }
}
