<sly data-sly-use.model="biz.netcentric.nclabs.groovyconsole.model.ScriptListItemModel">
    <sly data-sly-test="${entity.isFolder}">
        <coral-card class="foundation-collection-navigator coral-Card"
                    data-foundation-collection-navigator-href="/entity.path">
            <coral-card-content>
                <coral-card-context class="coral-Card-context">${'folder' @ i18n}
                </coral-card-context>
                <coral-card-title class="foundation-collection-item-title">
                    ${model.title}
                </coral-card-title>
            </coral-card-content>
            <meta class="foundation-collection-quickactions"
                  data-foundation-collection-quickactions-rel="cq-siteadmin-admin-actions-folderproperties-activator">
        </coral-card>
    </sly>

    <sly data-sly-test="${!entity.isFolder}">
        <coral-card fixedwidth variant="inverted" assetwidth="200" assetheight="200"
        	class="foundation-collection-navigator coral-Card"
            data-foundation-collection-navigator-href="/apps/nclabs/groovyconsole/content/scriptexecuter.html${model.path}">
            <coral-card-info data-sly-test="${model.hasDescription}">
                <coral-alert variant="info">
                    <coral-alert-header>Info</coral-alert-header>
                    <coral-alert-content>${model.description}</coral-alert-content>
                </coral-alert>
            </coral-card-info>
            <coral-card-content>
                <coral-card-context>Groovy Script</coral-card-context>
                <coral-card-title>${model.title}</coral-card-title>
                <coral-card-propertylist>
                </coral-card-propertylist>
            </coral-card-content>
        </coral-card>
    </sly>
</sly>
