<div class="form-left">
<div id="tabs-navigation" class="coral-TabPanel" data-init="tabs">
    <nav role="tablist" class="coral-TabPanel-navigation dam-schemeditor-panel-navigation">
        <a id="formbuilder-add-tab" href="#" data-target="#field-add" data-toggle="tab" class="coral-TabPanel-tab is-active">
            <i class="coral-Icon coral-Icon--add coral-Icon--sizeXS"></i>
        </a>
    </nav>
    <div class="coral-TabPanel-content dam-schemaeditor-panel-content">
        <section class="dummy-section coral-TabPanel-pane" style="display:none">
        </section>
        <section class="dummy-section coral-TabPanel-pane" style="display:none">
		</section>
    </div>
</div>
</div>